---
layout: default
---

<div class="album py-5 bg-light">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="card mb-8 box-shadow">
					<div class="card-body">

						<h2 class="card-title">Details</h2>
						{{ content }}
<hr>
						<h2 class="card-title">Installation</h2>

						<h5 class="card-title">Command Line</h5>
						{% if page.package_url contains "github://" %}
	             <pre><code>cloudgene install {{ page.package_url | replace: "github://", "" }}</code></pre>
						{% else %}
							<pre><code>cloudgene install {{ page.package_url }}</code></pre>
						{% endif %}

						<h5>GUI</h5>
						<ol>
							<li>Login to Clougene and open the Admin Panel</li>
							{% if page.package_url contains "github://" %}
							<li>Click on Applications / <b>Install App from GitHub</b></li>
							<li>The installation dialog appears. Please enter the following information:<br>
								<pre><code>{{ page.package_url | replace: "github://", ""}}</code></pre></td>
							</li>

							{% else %}
								<li>Click on Applications / <b>Install App from URL</b></li>
								<li>The installation dialog appears. Please enter the following information:<br>
									<br>
									<pre><code>{{ page.package_url }}</code></pre>
								</li>
							{% endif %}
							<li>A confirmation dialog appears and you can change permissions for the application</li>
						</ol>

					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card mb-4 box-shadow">
					<div class="card-body">

						<h5 class="card-title">Main Contributors</h5> {% for author in page.authors %}
						<p>
							<img src="{{author.avatar}}" />
							<a href="mailto:{{author.mail}}">{{author.name}}</a> {% if author.twitter %}(<a href="https://twitter.com/{{author.twitter}}">@{{author.twitter}}</a>){% endif %}
						</p>
						{% endfor %}
						
						{% if page.version %}
						<h5 class="card-title">Version</h5>
						<p>
							<a href="{{ page.version }}">{{ page.version }}</a>
						</p>
						{% endif %}
						
						{% if page.website %}
						<h5 class="card-title">Website</h5>
						<p>
							<a href="{{ page.website }}">{{ page.website }}</a>
						</p>
						{% endif %}
						{% if page.source_url %}
						<h5 class="card-title">Source</h5>
						<p>
							<a href="{{ page.source_url }}">{{ page.source_url }}</a>
						</p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
